body{
    /*background: #2c041c;*/
}
.text.title{
    color: #800080;
    font-size: 5.5rem;
    font-weight: 800;
    font-family: fantasy;
    padding-left: 10%;
    padding-top: 50px;
}
.icon img{
    height: 180px;
    width: 200px;
}
.main-menu{
    background: #800080;
    color: #ffffff;
    height: 50px;
    position: relative;
    font-size: 2.5em;
    text-align: center;
}
section.main-section{
    display: inline-block;
    width: 100%;
}
.main-menu .clickable:focus,.main-menu .clickable:hover{
    background: #ccff00;
}
.sub-menu{
    height: 30px;
    background: #000000;
    opacity: 0.8;
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
}
.sub-menu .clickable:focus,.sub-menu .clickable:hover{
    color: aqua;
    opacity: 1.0;
}
.picture{
    padding-left: 50px!important;
    padding-top: 75px;
}
.picture .image{
    max-height: 350px;
    max-width: 300px;
}
.details .text{
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 35px;
}
.details .text{
    margin: 0 0 10px;
    font-size: 15px;
    font-style: oblique;
    font-family: cursive;
}